:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: background-color 100ms ease-in-out;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    /* transition: transform werkt niet optimaal. Moet echt met all */
    transition: all 100ms ease-in-out;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    bottom: -20px;
}

.menu-container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    padding: 20px 0;
    cursor: pointer;
}

/* Met opacity:0 werkt het niet helaas en maakt de hele container onzichtbaar */
.menu-container:hover #menu {
    background-color: transparent;
}

.menu-container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}

.menu-container:hover #menu::after {
    transform: rotate(-45deg);
    /*Het is belangrijk om hier dezelfde property te bewerken als op #menu::before (dus allebei top, of allebei bottom) anders draait het kruisje niet goed vanuit het midden! */
    bottom: 0;
}